

sui-tabset div.hy-sui-tabs
{
    // Remove tab block borders
    // 移除标签栏外框
    border-top: 0;
    border-left: 0;
    border-right: 0;

    // Colorize it
    // 染色
    background-color: #fafeff;
}

// Remove individual tab borders
// 移除标签外框
.ui.menu.hy-sui-tabs .item:before
{
    width: 0;
}

// Remove borders from tab contents
// 移除标签页内容外框
.hy-sui-tab-content
{
    border: none;
    box-shadow: none;
    height: 100%;
    text-align: center;
}

// Version text
// 版本号
#hy-about-version
{

}

#hy-about-gts-logo
{
    height: 400px;
    box-shadow: 0 0 6px 2px black;
}

#hy-about-gts-logo h2
{
    padding-top: 50%;
}

.hy-about-avatar
{
    display: inline-block;
    width: 18%;
    margin: 10px 20px 20px 20px;
}

.hy-about-avatar img
{
    border-radius: 20px;
}
