<ion-header>
    <ion-toolbar>
        <ion-title>
            关于
        </ion-title>
        <ion-title class="subtitle">
            GeeTrashSorter
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <sui-tabset>
        <div class="ui pointing menu hy-sui-tabs">
            <a class="item" suiTabHeader="1">关于我们</a>
            <a class="item" suiTabHeader="2">买杯咖啡</a>
            <a class="item" suiTabHeader="3">提些意见</a>
        </div>

        <div class="ui segment hy-sui-tab-content" suiTabContent="1">
            <div>
                <div class="hy-about-avatar left">
                    <img src="/assets/page-about/Vanilla-256px.jpg"
                         style="box-shadow: 0 0 10px 0 #ebb688;">
                </div>
                <div class="hy-about-avatar right">
                    <img src="/assets/page-about/Hykilpikonna-256px.jpg"
                         style="box-shadow: 0 0 10px 0 #c7b6c1;">
                </div>
            </div>

            <h2 class="hy-about-title">- HyDEV 开发组 -</h2>
            <p class="hy-about-title">只有两个人的咸鱼开发组w</p>

            <hr>

            <ion-list lines="none">
                <ion-list-header>
                    <ion-label>关于 <b>HyDEV</b>:</ion-label>
                </ion-list-header>
                <ion-item href="https://github.com/HyDevelop">
                    <ion-icon color="medium" name="logo-github" slot="start"></ion-icon>
                    <ion-label>Github 开发组主页</ion-label>
                </ion-item>
                <ion-item href="http://gitpage.hydev.org/">
                    <ion-icon color="medium" name="bookmark" slot="start"></ion-icon>
                    <ion-label>HyDEV 动态壁纸w</ion-label>
                </ion-item>
            </ion-list>

            <ion-list lines="none">
                <ion-list-header>
                    <ion-label>关于 <b style="color: #c7b6c1;">小桂 Hykilpikonna</b>:</ion-label>
                </ion-list-header>
                <ion-item href="https://github.com/Hykilpikonna">
                    <ion-icon color="medium" name="logo-github" slot="start"></ion-icon>
                    <ion-label>Github 个人主页</ion-label>
                </ion-item>
                <ion-item href="https://steamcommunity.com/id/hykilpikonna">
                    <ion-icon color="medium" name="logo-steam" slot="start"></ion-icon>
                    <ion-label>Steam 蒸汽机主页</ion-label>
                </ion-item>
                <ion-item href="https://space.bilibili.com/2846598">
                    <ion-icon color="medium" name="flash" slot="start"></ion-icon>
                    <ion-label>Bilibili 触电主页</ion-label>
                </ion-item>
                <ion-item href="https://www.youtube.com/channel/UCCwz4RuQr1Glln359nuj2vw">
                    <ion-icon color="medium" name="logo-youtube" slot="start"></ion-icon>
                    <ion-label>YouTube 油管主页 (需要梯子)</ion-label>
                </ion-item>
                <ion-item href="https://user.qzone.qq.com/871674895">
                    <ion-icon color="medium" name="eye-off" slot="start"></ion-icon>
                    <ion-label>QZone <s>黑历史空间</s></ion-label>
                </ion-item>
            </ion-list>

            <ion-list lines="none">
                <ion-list-header>
                    <ion-label>关于 <b style="color: #ebb688">香子兰 Vanilla</b>:</ion-label>
                </ion-list-header>
                <ion-item href="https://github.com/VergeDX">
                    <ion-icon color="medium" name="logo-github" slot="start"></ion-icon>
                    <ion-label>Github 个人主页</ion-label>
                </ion-item>
                <ion-item href="https://steamcommunity.com/id/osu_vanilla">
                    <ion-icon color="medium" name="logo-steam" slot="start"></ion-icon>
                    <ion-label>Steam 蒸汽机主页</ion-label>
                </ion-item>
                <ion-item href="https://space.bilibili.com/10857751">
                    <ion-icon color="medium" name="flash" slot="start"></ion-icon>
                    <ion-label>Bilibili 触电主页</ion-label>
                </ion-item>
                <ion-item href="https://user.qzone.qq.com/1339638753">
                    <ion-icon color="medium" name="eye" slot="start"></ion-icon>
                    <ion-label>QZone 空间</ion-label>
                </ion-item>
            </ion-list>

            <span id="hy-about-version">极分类 版本 v2.3</span>
        </div>

        <div class="ui segment hy-sui-tab-content" suiTabContent="2">
            <p>
                「不仅能给我钱, 还能给我工作?!」<br>
                「明明只要把钱给我就足够了呀!!!」<br>
                ( 雾 )
            </p>
            <img class="hy-donation-img" src="assets/page-about/Final-Ali.png" (click)="onImageClick($event)"/>
            <img class="hy-donation-img" src="assets/page-about/Final-Wechat.png" (click)="onImageClick($event)"/>
            <p></p>
            <p>
                啊... 老板没有两个手机?<br>
                长按二维码保存到相册里就好啦w<br>
                感谢老板好心支持w
            </p>
        </div>

        <div class="ui segment hy-sui-tab-content" suiTabContent="3">
            Third tab!
        </div>
    </sui-tabset>
</ion-content>
