

sui-tabset div.hy-sui-tabs
{
    // Remove tab block borders
    // 移除标签栏外框
    border-top: 0;
    border-left: 0;
    border-right: 0;

    // Colorize it
    // 染色
    background-color: #fafeff;

    box-shadow: 0 1px 9px 0 rgb(250, 254, 255);;
}

// Remove individual tab borders
// 移除标签外框
.ui.menu.hy-sui-tabs .item:before
{
    width: 0;
}

// Remove borders from tab contents
// 移除标签页内容外框
.hy-sui-tab-content
{
    border: none;
    box-shadow: none;
    height: 100%;
    text-align: center;
}

// Version text
// 版本号
#hy-about-version
{

}

#hy-about-gts-logo
{
    height: 400px;
    box-shadow: 0 0 6px 2px black;
}

#hy-about-gts-logo h2
{
    padding-top: 50%;
}

.hy-about-avatar
{
    display: inline-block;
    width: 18%;
    margin: 12px 0 0 0;
}

.hy-about-avatar img
{
    border-radius: 20px;
}

.hy-about-avatar.left
{
    float: left;
    margin-left: 10px;
}

.hy-about-avatar.right
{
    float: right;
    margin-right: 10px;
}

.hy-about-title
{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ebb688+0,c7b6c1+100 */
    background: #ebb688; /* Old browsers */
    background: -moz-linear-gradient(left,  #ebb688 0%, #c7b6c1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ebb688 0%,#c7b6c1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ebb688 0%,#c7b6c1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebb688', endColorstr='#c7b6c1',GradientType=1 ); /* IE6-9 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
