

sui-tabset div.hy-sui-tabs
{
    // Remove tab block borders
    // 移除标签栏外框
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;

    // Colorize it
    // 染色
    background-color: #fafeff !important;

    box-shadow: 0 1px 9px 0 rgb(250, 254, 255) !important;
}

// Remove individual tab borders
// 移除标签外框
.ui.menu.hy-sui-tabs .item:before
{
    width: 0 !important;
}

// Remove borders from tab contents
// 移除标签页内容外框
.hy-sui-tab-content
{
    border: none !important;
    box-shadow: none !important;
    height: 100% !important;
    text-align: center !important;
}

// Version text
// 版本号
#hy-about-version
{
    padding-bottom: 15px !important;
}

.hy-about-avatar
{
    display: inline-block;
    width: 18%;
    margin: 12px 0 0 0;
}

.hy-about-avatar img
{
    border-radius: 20px;
}

.hy-about-avatar.left
{
    float: left;
    margin-left: 10px;
}

.hy-about-avatar.right
{
    float: right;
    margin-right: 10px;
}

.hy-about-title
{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ebb688+0,c7b6c1+100 */
    background: linear-gradient(to right,  #ebb688 0%,#c7b6c1 100%)  !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;

    text-shadow: 0 0 6px #ffcdcc75 !important;
}

.native-textarea
{
    min-height: 90px !important;
    padding-right: var(--padding-start) !important;
}
