

sui-tabset div.hy-sui-tabs
{
    // Remove tab block borders
    // 移除标签栏外框
    border-top: 0;
    border-left: 0;
    border-right: 0;

    // Colorize it
    // 染色
    background-color: #fafeff;
}

// Remove individual tab borders
// 移除标签外框
.ui.menu.hy-sui-tabs .item:before
{
    width: 0;
}

// Remove borders from tab contents
// 移除标签页内容外框
.hy-sui-tab-content
{
    border: none;
}
