<ion-header>
    <ion-toolbar>
        <ion-title>
            关于
        </ion-title>
        <ion-title class="subtitle">
            GeeTrashSorter
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <sui-tabset>
        <div class="ui pointing menu hy-sui-tabs">
            <a class="item" suiTabHeader="1">关于我们</a>
            <a class="item" suiTabHeader="2">买杯咖啡</a>
            <a class="item" suiTabHeader="3">提些意见</a>
        </div>

        <div class="ui segment hy-sui-tab-content" suiTabContent="1">
            <span id="hy-about-version">GeeTrashSorter v1.0.0</span>
            <div id="hy-about-gts-logo">
                <h2>TODO: 在这里加一个极分类 Logo</h2>
            </div>
            <h2>- HyDEV 开发组 -</h2>
            <p>只有两个人的咸鱼开发组w</p>
        </div>

        <div class="ui segment hy-sui-tab-content" suiTabContent="2">
        </div>

        <div class="ui segment hy-sui-tab-content" suiTabContent="3">
        </div>
    </sui-tabset>
</ion-content>
