

// Image recognition button
// 图像识别按钮
#hy-camera-button
{
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
    box-shadow: 0 0 16px 2px rgba(81, 140, 255, 0.62);
}
