

// Image recognition button
// 图像识别按钮
.hy-button-card
{
    margin: 0 10px 15px;
    border-radius: 25px;
}

.hy-button-card div
{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}


// Tab bar elevation shadow
// 标签栏悬浮阴影
#hy-tab-bar
{
    box-shadow: 0 0 4px 0 #00000040;
}
