<ion-tabs (ionTabsDidChange)="onTabChange($event.tab)" id="hy-tabs">
    <ion-card *ngIf="+syncedCurrentTab.replace('tab', '') <= 2 && !isSearchActive()"
              (click)="getPicture()"
              mode="ios" button="true" color="primary" id="hy-camera-button" class="hy-button-card"
              style="box-shadow: 0 0 16px 2px rgba(81, 140, 255, 0.62);">
        <div id="hy-camera-button-text">图像识别</div>
    </ion-card>

    <!--ion-card *ngIf="+syncedCurrentTab.replace('tab', '') == 2 && isSearchActive()"
              (click)="search()" (tap)="search()"
              mode="ios" button="true" color="tertiary" id="hy-search-button" class="hy-button-card"
              style="box-shadow: 0 0 16px 2px rgba(255,0,99,0.62); background-color: rgba(212,0,41,0.62)">
        <div id="hy-search-button-text">搜索</div>
    </ion-card-->

    <ion-tab-bar slot="bottom" id="hy-tab-bar">
        <ion-tab-button tab="tab1">
            <ion-icon mode="md" name="home"></ion-icon>
            <ion-label>欢迎</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon mode="md" name="aperture"></ion-icon>
            <ion-label>搜索</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon mode="md" name="settings"></ion-icon>
            <ion-label>设置</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab4">
            <ion-icon mode="md" name="planet"></ion-icon>
            <ion-label>关于</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
