<ion-header>
    <ion-toolbar>
        <ion-title>
            垃圾搜索
        </ion-title>
        <ion-title class="subtitle">
            GeeTrashSorter
        </ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="syncedSearchText"
                       (search)="onSearchBarEnter($event)"
                       (ionInput)="onSearchBarInput($event)"
                       id="hy-search-bar"
                       placeholder="垃圾物品名 或者 垃圾部件名"
                       autocomplete="on">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list id="hy-item-list">
        <ion-item *ngFor="let term of itemListArray;">
            <ion-icon name="return-right"></ion-icon>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p>{{term}}</p>
        </ion-item>
    </ion-list>
</ion-content>
