<ion-header class="page-2">
    <ion-toolbar>
        <ion-title>
            垃圾搜索
        </ion-title>
        <ion-title class="subtitle">
            GeeTrashSorter
        </ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="syncedSearchText"
                       (search)="onSearchBarEnter($event)"
                       (ionInput)="onSearchBarInput($event)"
                       (ionFocus)="onSearchFocusChange(true)"
                       (ionBlur)="onSearchFocusChange(false)"
                       id="hy-search-bar"
                       placeholder="垃圾物品名 或者 垃圾部件名"
                       autocomplete="on">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list id="hy-item-list" lines="none">
        <ion-item *ngIf="syncedSearchFocused &&
                         syncedSearchText != '' &&
                         syncedItemListArray.indexOf(syncedSearchText) == -1"
                  (click)="onSearchBarEnter(null)"
                  id="hy-history-item-searched">
            <ion-icon name="search"></ion-icon>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{syncedSearchText}}</p>
        </ion-item>
        <ion-item *ngFor="let term of syncedItemListArray;"
                  (click)="onClickHistory(term)"
                  id="hy-history-item-{{term}}">
            <ion-icon name="return-right"></ion-icon>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{term}}</p>
        </ion-item>
    </ion-list>
</ion-content>
