
// Disable android header shadow
// 关掉安卓的标题框阴影
.header-md:after
{
    height: 0 !important;
    background-image: none !important;
}

// Add space after ios header
// 苹果标题框下面空出空间
ion-header.ios
{
    margin-bottom: 8px !important;
}

// Remove top margin from ios cards
// 移除苹果卡片上面的空间
ion-card.ios.hy-list-card
{
    margin-top: 0 !important;
}

// Center the spinner in the card
// 让加载圈占满整个卡片
ion-spinner.hy-card-spinner
{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
