
// Remove top margin from ios cards
// 移除苹果卡片上面的空间
ion-card.ios.hy-list-card
{
    margin-top: 0 !important;
}

// Center the spinner in the card
// 让加载圈占满整个卡片
ion-spinner.hy-card-spinner
{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

// Add some rounded corners to material design search bar
// 让安卓端的搜索框变得更圆
.sc-ion-searchbar-md
{
    border-radius: 20px;
}
