<ion-header>
    <ion-toolbar>
        <ion-title>
            极分类
        </ion-title>
        <ion-title class="subtitle">
            GeeTrashSorter
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img alt="" src="/assets/trashcans.png"/>
        <ion-card-header>
            <ion-card-subtitle>Welcome to GeeTrashSorter</ion-card-subtitle>
            <ion-card-title>极分类 - 垃圾分类查询</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>
                欢迎使用极分类!
                在这里, 您可以用文字查询不同的垃圾的分类, 也可以识别照片上的垃圾.
            </p>
        </ion-card-content>
    </ion-card>

    <ion-list lines="none">
        <ion-list-header>
            <ion-label>极分类的功能w</ion-label>
        </ion-list-header>
        <ion-item href="/tabs/tab2">
            <ion-icon color="medium" name="search" slot="start"></ion-icon>
            <ion-label>搜索垃圾</ion-label>
        </ion-item>
        <ion-item (click)="irClick()">
            <ion-icon color="medium" name="expand" slot="start"></ion-icon>
            <ion-label>图像识别</ion-label>
        </ion-item>
        <ion-item href="#"><!--TODO: Implement this-->
            <ion-icon color="medium" name="microphone" slot="start"></ion-icon>
            <ion-label><s>语音识别</s> (还没做完w) <s>(咕咕咕)</s></ion-label>
        </ion-item>
        <ion-item href="/tabs/tab4">
            <ion-icon color="medium" name="planet" slot="start"></ion-icon>
            <ion-label>关于我们</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
