// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


// Center title for all platforms
// 标题居中
ion-title
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 90%;
    text-align: center;
}

// Subtitle
// 副标题
ion-title.subtitle
{
    height: 150%;
    font-size: xx-small;
}

// Center search bar text
// 搜索栏文字居中
ion-searchbar
{
    text-align: center;
}

// Disable android header shadow
// 关掉安卓的标题框阴影
ion-header.hy-custom.md:after
{
    height: 0 !important;
    background-image: none !important;
}

// Add space after ios header
// 苹果标题框下面空出空间
ion-header.hy-custom.ios
{
    margin-bottom: 8px !important;
}

// Center semantic tabs
// SUI 标签居中
sui-tabset div a:first-child
{
    margin-left: auto;
}
sui-tabset div a:last-child
{
    margin-right: auto;
}
