// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


// Center title for all platforms
// 标题居中
ion-title
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 90%;
    text-align: center;
}

// Subtitle
// 副标题
ion-title.subtitle
{
    height: 150%;
    font-size: xx-small;
}

// Center search bar text
// 搜索栏文字居中
ion-searchbar
{
    text-align: center;
}

// Disable android header shadow
// 关掉安卓的标题框阴影
ion-header.hy-custom.md:after
{
    height: 0 !important;
    background-image: none !important;
}

// Add space after ios header
// 苹果标题框下面空出空间
ion-header.hy-custom.ios
{
    margin-bottom: 8px !important;
}

// Center semantic tabs
// SUI 标签居中
sui-tabset div a:first-child
{
    margin-left: auto;
}
sui-tabset div a:last-child
{
    margin-right: auto;
}

// Align donation img side by side
// 捐赠二维码横向排版
.hy-donation-img
{
    width:50%;
    display: inline-block;
}
.hy-donation-img.comic
{
    border-radius: 15px;
    box-shadow: 0 0 7px #0000007d;
    margin-bottom: 10px;
    margin-top: -10px;
}

// Full screen overlay
// 全屏覆盖消息
.hy-fullscreen-overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.76);

    // Center items
    // 子物品居中
    display: flex;
    align-items: center;
    justify-content: center;

    div
    {
        width: 100%;
        text-align: center;
    }
}

// Separator line
// 分割线
.hy-separator
{
    border-bottom: 1px solid #e2e2e2;
    height: 1px;
    margin-top: 48px;
    box-shadow: 0 0 4px 0 #ffecec;
}

// Loading text
// 加载文字
#hy-loading-text
{
    color: white;
}
