// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.


// Center title for all platforms
// 标题居中
ion-title
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 90%;
    text-align: center;
}

// Subtitle
// 副标题
ion-title.subtitle
{
    height: 150%;
    font-size: xx-small;
}

// Center search bar text
// 搜索栏文字居中
ion-searchbar
{
    text-align: center;
}
